body {
    background-color: black;
}

/*----------GAME CIRCLES*/
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: var(--clr-neon);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    background-color: black;
    display: inline-block;
    position: absolute;
}

.circle.center {
    left: 50%;
    top: 10rem;
    width: 200px;
    height: 200px;
    background-color: black;
    margin-left: -100px;
}

/*-----Credit: Stack Overflow: How to create circles around a circle with css, javascript?*/

.one {
    top: -60px;
    left: 70px;
}

.two {
    right: -20px;
    top: -20px;
}

.three {
    right: -60px;
    top: 70px;
}

.four {
    right: -20px;
    bottom: -15px;
}

.five {
    bottom: -60px;
    left: 70px;
}

.six {
    left: -20px;
    bottom: -15px;
}

.seven {
    left: -60px;
    top: 70px;
}

.eight {
    left: -20px;
    top: -20px;
}

#clock {
    font-size: 5rem;
    position: absolute;
    left: 60px;
    top: 80px;
}

#score {
    
}

/*---credit:https://codepen.io/kevinpowell/pen/QWdRzON Neon Button with CSS*/
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

.neon, .neon-play {
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.neon-play {
    display: inline-block;
    position: absolute;
    bottom: -150px;
    left: 50%;
    margin-left: -20px;
    text-decoration: none;
}

.neon-play::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
.neon-play::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-play:hover,
  .neon-play:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-play:hover::before,
  .neon-play:focus::before {
    opacity: 1;
  }
  .neon-play:hover::after,
  .neon-play:focus::after {
    opacity: 1;
  }