body {
    background-color: black;
    /* cursor: none; */
    font-family: 'Press Start 2P', cursive;
}

/*----------GAME CIRCLES*/
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    color: var(--clr-neon);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    background-color: black;
    display: inline-block;
    position: absolute;
}

.circle.center {
    left: 50%;
    top: 10rem;
    width: 200px;
    height: 200px;
    background-color: black;
    margin-left: -100px;
}

/*-----Credit: Stack Overflow: How to create circles around a circle with css, javascript?*/

.one {
    top: -60px;
    left: 70px;
}

.two {
    right: -20px;
    top: -20px;
}

.three {
    right: -60px;
    top: 70px;
}

.four {
    right: -20px;
    bottom: -15px;
}

.five {
    bottom: -60px;
    left: 70px;
}

.six {
    left: -20px;
    bottom: -15px;
}

.seven {
    left: -60px;
    top: 70px;
}

.eight {
    left: -20px;
    top: -20px;
}

#clock {
    font-size: 2rem;
    position: absolute;
    left: 65px;
    top: 140px;
}

#high-score {
    position: absolute;
    top: 10px;
    left: 40px;
    font-size:1rem;
}

#score {
    font-size:1rem;
    top: 45px;
    left: 25px;
    position: absolute;
}

#action {
    font-size:1.2rem;
    text-align: center;
    width: 100%;
    top: 85px;
    position: absolute;
}



.highlighted {
    background: var(--clr-neon);
    /* box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);  */
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 1;
}

/*---credit:https://codepen.io/kevinpowell/pen/QWdRzON Neon Button with CSS*/
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

.neon, .neon-play {
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.neon-play {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    user-select: none;
}

#play-button {
    bottom: -150px;
    left: 20%;
    width: 100px;
    margin-left: -55px;
}

#demo-button {
    bottom: -150px;
    left: 80%;
    width: 100px;
    margin-left: -55px;
}

.neon-play::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
.neon-play::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-play:hover,
  .neon-play:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-play:hover::before,
  .neon-play:focus::before {
    opacity: 1;
  }
  .neon-play:hover::after,
  .neon-play:focus::after {
    opacity: 1;
  }

  .disabled {
      pointer-events: none;
  }

/*----------FOOTER*/

footer {
    text-align: center;
    height: 50px;
    color: var(--clr-neon);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    padding: 0.25em 1em;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

#footer {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

#footer-copyright{
    float: left;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 12px;
}

/*----------INSTRUCTIONS MODAL*/

.modal {
    background-color: black;
    
    color: var(--clr-neon);
    font-size: smaller;
}

.modal-body {
    background-color: black;
}

.modal-header {
    background-color: black;
}

.modal-content {
    border-style: solid;
    border-color: var(--clr-neon); 
}